*,html{
	padding: 0;
	margin:0;
}

html,body{
	width: 100%;

}

nav.page-navigation {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding:1%;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    z-index: 10;   
    box-shadow: 0px 2px 5px #A0A0A0;
}

nav.page-navigation ul , nav.page-navigation img{
  display:inline-block;
  vertical-align: middle;
}

nav.page-navigation ul{
  width: 70%;
}

nav.page-navigation img{
  width: 15%;
}

nav.page-navigation li {
    
    display: inline;
    list-style-type: none;
    
}

nav.page-navigation a {
  padding:1%;
  text-decoration: none;
  color: #404040;
}

nav.page-navigation a:hover{
    color:#bef230;
}

nav.page-navigation .current a {
    background-color:#bef230;
    color: #fff;
}


section{	
	padding: 2% 0 10% 0;
	text-align: center;
}

footer{
	padding:2%;
	background-color: #2c3e50;
}


#pois-usuario{
	background-color: #a2a2a2;
	margin-top:2%;	
}


#categorias{
	background-color: #fff;

}

#estadisticas{
	background-color: #bef230;
}


#pois-usuario h1, #estadisticas h1{
	color:#fff;
}

#img-usuario{
	height:20%;
 	width: 20%;
}

#pois-usuario #mapa{
	display: inline-block;
	vertical-align: top;
}

#mapa{

	background-color: #fff;
	border:2px solid #505050;
	border-radius: 25px;	
	margin-top:2%;
	padding: 0.75%;
	width: 80%;
	color:black;
}

#header-principal{
	margin-top:1%;
	padding-bottom: 1%;
}

#header-tittle{
	margin-left: 10%;
	width: 60%;

}

#imgApp{
	width:15%;

}

#header-tittle, #imgApp{
	display: inline-block;
	vertical-align: top;
}

#section-mapa{
	background-color: #a2a2a2;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 0;
}

#mapa-principal{

	background-color: #fff;
	border:2px solid #505050;
	border-radius: 25px;	
	margin-top:2%;
	padding: 0.75%;
	width: 88%;
	color:black;
	height:600px;
}

#map_canvas{
	border-radius: 20px;
}

#mapa-principal, #lado{
display: inline-block;
vertical-align: top;

}

#mapa-principal a{
	text-decoration: none;
}

#mapa-principal a:hover{
	background-color: #bef230;
}

#lado{
	width: 10%;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;	
}


#lado article h3{
	font-size: 140.7%;
	text-align: center;
	margin-bottom: 10%;
	color:white;	
}

#lado ul{
	text-align: center;
}

#lado li{
	margin-bottom: 2%;
	border:solid 1px white;
	list-style: none;
	padding-top:5%;
	padding-bottom: 5%;
	border-radius: 5px;
	color: #606060;
	cursor: pointer;	

}

#mapa-lista{
	width: 20%;
	height: 500px;
}

#list-pois, #list-users, #list-categ, #estad-1,#list-users{
	margin-top:7%;
	padding:4% 0 2% 0;
	width: 100%;
}

#link-pois, #link-users{
	margin-top: 2%;
	margin-bottom: 3%;
}

#link-pois img, #link-pois a, #link-users img, #link-users a{
	vertical-align: middle;
	text-align: left;
}

#link-pois img, #link-users img{
	height: 5%;
	width: 5%;
}


#lp1, #lu1{
	margin:2% 20% 2% 20%;
	width:60%;
}

#lp1 ul li, #lu1 ul li{
	border:solid 1px #a2a2a2;
	padding: 1% 0 0% 0;
	 border-radius: 5px;
	 list-style-type:none;
	

}

#lp1 ul li a, #lu1 ul li a{
	 text-decoration: none;
}

#link-categ{
	margin-top:4%;
	margin-bottom:4%;
}


#categ{
	width: 30%;
	border-radius: 5px;
	color:black;
	padding: 0.5%;
	margin-right: 1%;
	border:2px solid #bef230;
	margin-left: 35%;
	margin-right: 35%;
}

#buscar{
	width: 30%;
	margin-left: 34%;
	
}

#km{
	margin-right: 27%;
	width: 8%;
}
#distancia{
	width:100%;
}


#categ,#distancia{
	display: block;
	margin-bottom: 1%;
	margin-top: 1%;
}

#buscar, #km{
	display: inline-block;
	vertical-align: baseline;
}


#ubicacion span{
	padding-right: 2%;
	padding-left: 0.5%;
	vertical-align: super;
	font-size: 120%;
}

#contact{
	margin-top:3%;
}

.poi-boton, .poi-text{
	display:inline-block;
	vertical-align: middle;
		
}

.poi-text{
	width:70%;
	margin-left: 10%;
	margin-right: 5%;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.poi-boton{
	width:6%;
	text-align:center;
}

.poi-boton img{
	height: 6%;
	width: 6%;
	min-height:22px;
	min-width: 22px;
	padding: 0 1% 0 1%;

}

.poi-enlace{
	width: 100%;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s; 
    transition: background-color 0.2s;
}

.poi-enlace:hover{
	background-color: #b0b0b0;
}


.sec-img-text article{
	vertical-align:top; 
	display: inline-block;
	width: 30%;
	padding-top: 3%;
	padding-bottom: 1%;	
}

.sec-img-text article p{
	padding: 2% 10% 5% 10%;
	text-align: justify;
}

.categ-sublist{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    text-align: justify;
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;

}

.categ-sublist img, .categ-sublist p{
	display:inline;
	vertical-align:middle; 
}

.categ-sublist img{
	width: 20%;
	height: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.categ-sublist li{
	list-style-type: none;
}


.little-img img{
	width: 7%;
	height: 7%;
	margin-left: 2%;
}



.poi-info{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}


.img-poi{
	width: 35%;
}

.img-poi img{
	width: 100%;
}


.img-poi, .text-poi{
	display:inline-block;
	vertical-align: top;
	margin-top: 5%;
}

.text-poi{
	width: 50%;
	text-align: left;
	margin-left: 10%;
	padding-top: 3%;	
}


.text-poi p, .text-poi h4{
	
	display:inline-block;
	vertical-align: center;
}



.user-info{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}


.img-user{
	width: 35%;
}

.img-user img{
	width: 100%;
}

.img-user, .text-user{
	display:inline-block;
	vertical-align: top;
	margin-top: 5%;
}

.text-user{
	width: 50%;
	text-align: left;
	margin-left: 10%;
	padding-top: 3%;	
}


.text-user p, .text-user h4{
	
	display:inline-block;
	vertical-align: center;
}

.posicion-actual, .posicion-poi:hover{
	background-color: #bef230;
}

.posicion-actual:hover, .posicion-poi{
	background-color: #fff;
}

.checkbox1{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #606060;
  cursor: pointer;
  
}


.checkbox1:checked{
  background-color: #bef230;
}

.mas-visitados li{
	list-style: none;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	text-decoration: none;
}

.mas-visitados a {
	text-decoration:none;
}

.mas-visitados a:hover {
	text-decoration:none;

}

.mv-article{
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 2%;
	color:#FFF;	
}

.mv-article h3{
	font-size: 200%;
	text-decoration: none;

}

.golden{
	background: #ffd65e;
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );

}

.silver{
	background: #dfe5d7;
	background: -moz-linear-gradient(top,  #dfe5d7 2%, #b3bead 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#dfe5d7), color-stop(100%,#b3bead));
	background: -webkit-linear-gradient(top,  #dfe5d7 2%,#b3bead 100%);
	background: -o-linear-gradient(top,  #dfe5d7 2%,#b3bead 100%);
	background: -ms-linear-gradient(top,  #dfe5d7 2%,#b3bead 100%);
	background: linear-gradient(to bottom,  #dfe5d7 2%,#b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe5d7', endColorstr='#b3bead',GradientType=0 );


}

.bronze{
	background: #fac695;
	background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fac695), color-stop(47%,#f5ab66), color-stop(100%,#ef8d31));
	background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
	background: -o-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
	background: -ms-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
	background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 );
}

.faqs{
	margin-top: 2%;
	padding: 2%;
	border-radius: 25px;
	border:3px solid #bef230;
	background-color: #fff;
	color:#000;

}

.pregunta{
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: left;
	font-weight: bold;

}

.respuesta{
	padding: 1%;
	text-align: justify;
}

.green-border input{
	border: 1px solid #bef230;
}

@media all and (max-width:1200px){
	nav.page-navigation {	  
	    font-size: 80%;    
	    
	}

	.menu{
		width: 80%;
	}

	#lado article h3{
		font-size: 90%;
	}

}